@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');


#wellcome{
    display: block;
    height: 600px;
    background-image: url('../images/fundo-home-1.jpg');
}

#wellcome2{
    display: block;
    height: 500px;
    background-image: url('../images/fundo-servicos.jpg');
    background-position-y: center;
    background-size:cover;
    box-shadow:inset 0 0 0 2000px rgba(34, 19, 99, 0.3);
}

#wellcome-content{
    position: relative;
    top: 30%;
    left: 10%;
    width: 50%;
}

#wellcome-content2{
    position: relative;
    top: 40%;
    left: 5%;
    width: 50%;
}

#wellcome-content > h1, h2{
    color: white;
    text-transform: uppercase;    
    font-weight: 700;
}

#wellcome-content2 > h2{
    color: rgb(10, 10, 99);
    text-transform: uppercase;
    font-weight: 700;
}

#wellcome-content > h1{
    text-transform: uppercase;
    font-style: italic;
}

#wellcome-content > p{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 1.5em;
    text-align: justify;
}

#wellcome-content2 > p{
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 1.0em;
    text-align: justify;
}

.header{
    background-color: white;
}

.header-intern{
    background-color: rgb(6, 11, 37);
}

.nav-link {
    font-size: 1.5em;
    color: rgb(6, 11, 37);
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 15px;
}

.link-intern {
    font-size: 1.5em;
    color: #ccc;
    padding: 10px 15px;
    margin: 10px 0px;
    border-radius: 15px;
}

.nav-link:hover {
    color: rgb(133, 194, 252);
    background-color: rgb(6, 11, 37);
}

.link-intern:hover {
    color: rgb(6, 11, 37);
    background-color: rgb(133, 194, 252);
}


#a-empresa{
    margin: 50px 0px;
}

#a-empresa > div > p{
    text-align: justify;
    font-family: 'Merriweather', serif;
}

.bg-cinza{
    background-color: #f1f1f1;
}

.bg-cinza-2{
    background-color: #858488;
}

#tecs{
    padding: 25px 0px;
}

#orcamento{
    padding: 25px 0px;
}

.title-sections{
    color: rgb(10, 10, 99) !important;
    text-align: center;
    text-shadow: 3px 3px rgb(208, 217, 240);
    padding: 15px 0px;
}

.title-sections-2{
    color: rgb(10, 10, 99); 
    text-align: center;    
    padding: 15px 0px;
}

#tecs div {
    text-align: center;
}

#orcamento div {
    text-align: center;
    color: snow;
}

#tecs i {
    font-size: 50px;
}

#orcamento i {
    font-size: 50px;    
}

#team{
    padding: 25px 0px;
}

#team-2{
    padding: 25px 0px;
    background-color: whitesmoke   
}

.integrantes {
    margin: 25px;
}

.servicos {
    margin: 25px;
    background-color: whitesmoke
}

.title-rodape {
    font-size: 1.2em;
    color: #ccc;
}

.footer{
    background-color: rgb(6, 11, 37);
    text-align: center;
    padding: 25px 10px;
}

.footer-nav, .icon-list, .footer-contact, .footer-funcionamento {
    list-style: none;
    padding: 0px;
}

.footer-nav > li > a, .footer-contact > li, .footer-funcionamento > li, .copyright{
    font-style: none;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.9em;
}

.footer-nav > li > a:hover {
    text-decoration: underline;
}

.icon-list > li{
    display: inline;
    padding: 0px 10px;
    font-size: 1.5em;
}

.icon-list > li > a, .footer-contact > li >a, .copyright > a{
    color: #ccc;
}

.icon-list > li > a:hover{
    color: rgb(41, 68, 204);
}

.title-about{
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

.about-section{
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 3px 3px #ccc;
    padding-top:15px;
    padding-bottom:15px;
}

.title-h2-about{
    color: rgb(6, 11, 37);
    text-align: center;
    font-size: 50px;
}

.about-p {
    text-align: justify;
    padding: 25px;
}

.about-content{
    padding-top: 25px; 
    padding-bottom: 25px; 
}